<header>
    <nav class="navbar navbar-light navbar" style="background-color: rgba(119,144,241,0.87);">
        <ul class="navbar-nav my-element-box">
            <div id="logo">
                <object
                    type="image/svg+xml"
                    data="/static/logo.svg">
                    <img
                        src="/static/logo.svg"
                        id="logo"
                        alt="">
                </object>
            </div>
            <div class="col my-element-box">
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "root:index" %}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "example_hw8:users_with_amount" amount=10 %}">Users list with amount</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "phone_book:list" %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "count_of_visits:index" %}">Count of visits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "admin:index" %}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-inline: 15px;" href="{% url "logs:logs_list" %}">Logs</a>
                </li>
            </div>
        </ul>
        <ul class="navbar-nav my-element-box">
            <div class="user-box">
            {% if user.is_authenticated %}
            <div class="user-info">
                <p>Hello! Dear, {{ user.username }}!</p>
                </div>
                    <a type="button" class="btn btn-warning" href="{% url "logout" %}">Log Out</a>
                    <a type="button" class="btn btn-info" href="{% url "users:details" pk=user.id %}">Details</a>
            {% else %}
                <p>You are unknown user!</p>
                <p>You need sign in or registration!!</p>
                <a type="button" class="btn btn-primary" href="{% url "login" %}">Log In</a>
                <a type="button" class="btn btn-primary" href="{% url "users:registration" %}">Registration</a>
            {% endif %}
            </div>
        </ul>
    </nav>
</header>