<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <ul class="navbar-nav">
            <div id="logo">
                <object
                    type="image/svg+xml"
                    data="/static/logo/logo.svg">
                    <img
                        src="/logo/logo.svg"
                        id="logo"
                        alt="">
                </object>
            </div>
            <div class="col my-element-box">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "root:index" %}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "example_hw8:users_with_amount" amount=10 %}">Users list with amount</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "phone_book:list" %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "count_of_visits:index" %}">Count of visits</a>
                </li>
            </div>
        </ul>
    </nav>
</header>